<div class="jumbotron jumbotron-fluid text-center pt-6 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-6 mx-auto">
				<h2> Gossips croustillants? </h2>

				<p>Ne sois pas timide viens ajouter le tien petit chenapan! </p>
				<hr class="my-4">	
				<p><%= link_to "J'ajoute un gossip", new_gossip_path, class: "btn btn-primary	mb-0" %>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- On récupère la liste des gossips -->
	<div class="list-group col-6 mx-auto">
		<% @all_gossips.each do |gossip| %>

		<div class="row justify-content-center">
			<%= link_to gossip_path(gossip.id), class: "list-group-item list-group-item-action mb-0 col-9 mb-3" do %>
			<div class="row">
				<div class="col-9">
					<h5 class="mb-1"><%= gossip.title %></h5>
					<small><%= "par #{gossip.user.first_name} #{gossip.user.last_name}" %></small>
				</div>
				<div class="col-3 text-right">

					<!-- On affiche dans le badge le nombre de commentaires avec .count -->
					<small>Commentaires : </small><span class="badge badge-primary badge-pill"> <%= gossip.comments.count %></span>
				</div>
			</div>
			<% end %>
			
			<!-- La card de likes -->
			<small class="card border-muted ml-1 col-2 text-center p-3 mb-3">
				<!-- Si un utilisateur est connecté, on affiche les boutons like / unlike -->
			<% if current_user %>
				<!-- Si on a un like sur le gossip, on affiche le bouton unlike -->
				<% if Like.where(user: current_user, gossip: gossip).count != 0 %>

					<!-- Ici, on doit cibler le like précis qui concerne le bouton.
					On utilise where qui retourne un tableau avec tous les likes qui matchent le
					current_user et ce gossip. Un user ne peut liker qu'un gossip qu'une fois, donc
					il n'y a qu'un élément dans l'array, qui est en [0], et on récupère son id. -->

					<%= link_to "Unlike",
					gossip_like_path(controller: :like,
													action: :destroy,
													gossip_id: gossip.id,
													id: Like.where(user: current_user, gossip: gossip)[0].id),
													method: "DELETE" %>
				<% else %>

				<!-- Si l'user n'a pas liké le gossip, on affiche le bouton like -->
					<%= link_to "Like", gossip_likes_path(controller: :likes, action: :create, gossip_id: gossip.id), method: "post" %>
				<% end %>
			<% end  %>
				<!-- On affiche un coeur et le nombre de likes -->
				 ❤<br/>
				 <%= gossip.likes.count %> 
			</small>
		</div>

		<% end %>
	</div>